*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1;
}

h1 {
    text-align: center;
}

h1.status {
    width: 33%;
    float: left;
}

.bigWrapper{
    width: 600px;
    margin: auto;
}

.challangers {
    width: 100%;
}

.newChallanger {
    padding: 15px;
    width: 100%;
    float: left;
}

.newChallanger img {
    width: 80px;
    float: left;
}

.container {
    background-color: #b6b6b6;
    width: 33%;
    
}

.chalName {
    width: 200px;
    padding: 20px 0;
    float: left;
}

.chalSoical {
    width: 200px;
    padding: 20px 0;
    float: left;
}
.stat {
    width: 80px;
    padding: 20px 0;
    float: left;
}


.draggable {
    padding: 1rem;
    background-color: #fff;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}