*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
    color: #fff;
}

h1.status {
    width: 33%;
    float: left;
}

label {
    color: #fff;
}

.bigWrapper{
    width: 600px;
    margin: auto;
}

.challangers {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color: #fff;
    padding: 4px;
    box-shadow: 2px 2px 11px;
}

.newChallanger {
    width: 100%;
}

.newChallanger img {
    width: 50px;
    float: left;
}

.container {
    font-size: 18px;
    text-align: center
    
}

.chalName {
    width: 200px;
    padding: 20px 0;
    float: left;
}

.chalSoical {
    width: 200px;
    padding: 20px 0;
    float: left;
}
.stat {
    width: 80px;
    padding: 20px 0;
    float: left;
}


.draggable {
    padding: 1rem;
    background-color: #fff;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}