body{
    margin: 0;
}

.container {
    background-color: #b6b6b6;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: #fff;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}